RewriteEngine On

# Không cho xem cấu trúc thư mục
Options -Indexes

# Đảm bảo yêu cầu không phải là một tệp hoặc thư mục thực tế
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Điều hướng mọi thứ về index.php
RewriteRule ^(.*)$ index.php?url=$1